div#gamePage.allowTextSelect
      div#globalAttributes
        div
          strong
            ="Global Stats"
        ul#globalAttributesList.attributesList.hozList
      div#screen
        div#region
          div#regionNameWrapper
            strong#regionName
              ="Singularity"
          div#regionAttributes
            ul#regionAttributesList.attributesList.hozList
          div#regionUpgrades
            ul#regionUpgradesList.hozList
          div#regionFeatures
            ul#regionFeaturesList.hozList