div#gamePage.allowTextSelect
      div#globalAttributes.animated.slideInDown
        div
          strong
            ="Global Stats"
        ul#globalAttributesList.attributesList.hozList
      div#screen
        div#region
          div#regionNameWrapper
            strong#regionName
              ="Singularity"
          div#regionAttributes
            ul#regionAttributesList.attributesList.hozList
          div#regionFeatures
              ul#regionFeaturesList.hozList
                li
                  button(onclick="incrementClicks()")
                    ="ClickMe"