nav#sidebar
  div#sidebarHeader.sidebar-header.sidebarCollapse
    h3
      a
        ="Co-Op Clicker"
    strong
      a
        ="COC"
  ul#sidebarItems.list-unstyled.components
    li.active
      button#coreButton.sidebarbutton(onclick="changeActiveRegion('Core')")
        i.iconify(data-icon="fa-eercast")
        ="Core"
    li.flow-bottom
      div.dropup
        ul.collapse.list-unstyled#otherSubmenu
          li
            a.sidebarButton(href="#")
              ="Pachinko"
          li
            a.sidebarButton.active(href="#")
              ="Co-Op Clicker"
        a.sidebarButton.active.dropdown-toggle(href="#otherSubmenu" data-toggle="collapse" aria-expanded="false")
          i.iconify(data-icon="fa-code-fork")
          ="Projects"
      div#userInfo.userSection.initiallyHidden.animated.slideInUp.allowTextSelect
        strong
          ="Username"
        span#userInfoUsername
          ="..."
        button#logout.btn.btn-warning(type="button")
          strong
            ="Logout"
