doctype html
html
  include includes/head.pug
  body.preventTextSelect
    div.wrapper
      include includes/sidebar.pug
      div#content
        include includes/username.pug
        include includes/gamePage.pug
        include includes/scripts.pug
